<h1 class="text-center">Instructions</h1>

<p class="lead text-center">
    When you visit the supermarket you choose between a multitude of different products. In the following Choice Task you
    will be presented with pairs of products and asked to select the one you would prefer to take. For example:
</p>

<p class="lead text-center">
    Which product would you prefer to take?
</p>
<div class="row">
    <div class="col-md-2 col-md-offset-4 text-center">
        <img src="~/Content/Images/Demo/Demo1Front.jpg" width="120" height="150" alt="option1" />
        <a class="btn btn-primary btn-sm disabled">Option 1</a>
    </div>
    <div class="col-md-2 text-center">
        <img src="~/Content/Images/Demo/Demo2Front.jpg" width="120" height="150" alt="option2" />
        <a class="btn btn-primary btn-sm disabled">Option 2</a>
    </div>
</div>
<hr />

<p class="lead text-center">
    The products are similar to those you will have seen at the supermarket, for example different types of
    breads and cereals. Even if you don't normally buy that type of product, imagine a time when you may
    have. There will be an opportunity at the end to reflect on your normal shopping behaviours.
</p>
<p class="lead text-center">
    For the purpose of this task, we have excluded price information so please make your decision based on
    other differences between the products like which one looks the best or which one is the healthiest. Each
    product pair is similar but slightly different so please pay careful attention to subtle differences in
    information on each trial. You will be presented with 20 unique product pairs in total.
</p>

<hr />
<div class="col-md-offset-4 col-md-4 text-center">
    <a href="@Url.Action("Demo", new { pid = ViewBag.ParticipantId})" class="btn btn-primary btn-lg">Click to continue reading instructions</a>
</div>